
.title {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: bold;
}

.star{
    height: 8vh;
    padding-top: 0.5vh;
}

.reverse {
  transform: scaleX(-1);
}


@media (max-width: 855px){
  .outer{
    display: none;
  }

  .title {
      font-size: 6vh;
  }
}

@media (max-width: 755px) {
    .star {
        display: none;
    }
}

