
.title {
  display: flex;
  justify-content: center;
  font-size: 75px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.star{
    height: 75px;
}

.reverse {
  transform: scaleX(-1);
}


