<div>

  <div class="breaking-news">
    <img src="assets/ULMC.gif" />
    <span class="blink">BREAKING NEWS</span>
    <img src="assets/ULMC.gif" />
  </div>


<app-search (searchTermUpdate)="searchTerm.set($event); pageNum.set(1); getNewStories()"></app-search>

@if(loading()){
<img class="loading" src="assets/XVo6.gif" />
}
@else{
<div class="results">
  @if (error()){
  <div>{{ error() }}</div>
  } @else {
  @for (story of page(); track story.id) {
  <div><a [href]="story.url">{{ story.title }}</a></div>
  }
  }
</div>
}

<app-pagination (pageNumChange)="pageNum.set($event)"
                (loadMorePages)="getNewStories()"
                [pages]="pages()"
                [pageSize]="pageSize()"
                [pageNum]="pageNum()">
</app-pagination>

<div class="page-size">
  <app-page-size (pageSizeUpdate)="pageSize.set($event); pageNum.set(1); getNewStories()"></app-page-size>
</div>
