<div>

  <div class="breaking-news">
    <img src="assets/ULMC.gif" />
    <span class="blink">BREAKING NEWS</span>
    <img src="assets/ULMC.gif" />
  </div>


  <input type="text"
         placeholder="Search…"
         [formControl]="searchControl"
         (keyup.enter)="triggerSearch(searchControl.value)" />
  <button (click)="triggerSearch(searchControl.value)">Search</button>


  @if (searchControl.touched && searchControl.hasError('minlength')) {
  <div class="error">Search term must be at least 2 characters</div>
  }
</div>

<div class="results">
  @if (error()){
  <div>{{ error() }}</div>
  } @else {
  @for (story of page(); track story.id) {
  <div><a [href]="story.url">{{ story.title }}</a></div>
  }
  }
</div>

<div class="pagination">
  <button (click)="prevGroup()" [disabled]="!canGetPrevGroup()">«</button>
  @for (n of pageWindow(); track n) {
  <button (click)="setPage(n)" [disabled]="n === pageNum()">{{ n }}</button>
  }
  <button (click)="nextGroup()" [disabled]="!canGetNextGroup()">»</button>
</div>

<div>
  Page Size: <input class="small" [formControl]="pageSizeControl">
  <button (click)="updatePageSize(pageSizeControl.value)">Update</button>
</div>
